<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>DB_URL</param-name>
        <param-value>jdbc:sqlserver://localhost:1433;databaseName=CMR</param-value>
    </context-param>
    <context-param>
        <param-name>DB_USER</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>DB_PASS</param-name>
        <param-value>sa</param-value>
    </context-param>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>cmr.servlet.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMRServlet</servlet-name>
        <servlet-class>cmr.servlet.CMRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMR_UsersServlet</servlet-name>
        <servlet-class>cmr.servlet.CMR_UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignCourseServlet</servlet-name>
        <servlet-class>cmr.servlet.AssignCourseServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ApproveServlet</servlet-name>
        <servlet-class>cmr.servlet.ApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCMRServlet</servlet-name>
        <servlet-class>cmr.servlet.ShowCMRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCLCourse</servlet-name>
        <servlet-class>cmr.servlet.ShowCLCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticDataServlet</servlet-name>
        <servlet-class>cmr.servlet.StatisticDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeDistributionDataServlet</servlet-name>
        <servlet-class>cmr.servlet.GradeDistributionDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMRServlet</servlet-name>
        <url-pattern>/cmr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMR_UsersServlet</servlet-name>
        <url-pattern>/cmr_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignCourseServlet</servlet-name>
        <url-pattern>/assign</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ApproveServlet</servlet-name>
        <url-pattern>/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCMRServlet</servlet-name>
        <url-pattern>/showCMR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCLCourse</servlet-name>
        <url-pattern>/showCLCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticDataServlet</servlet-name>
        <url-pattern>/statisticData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeDistributionDataServlet</servlet-name>
        <url-pattern>/gradeDistributionData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
