/CMR/nbproject/private/
/CMR/build/
/CMR/dist/
/CMR_App/nbproject/private/
/CMR_App/build/
/DemoOJDBC6/nbproject/private/
/DemoOJDBC6/build/
/MusicSocial/nbproject/private/
/CMR_App/dist/
/MusicSocial/build/